* {
  color: #f2f2f2;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body{
  background-color: #0B0D26;
}

#particles-js {
  width: 100%;
  height: 100vh;
  background-color: #0B0D26;
  z-index: -1;
  margin: 0;
  padding: 0;
  position: fixed;
}

.contenedor{
  position: relative;
  z-index: 99;
  margin:auto;
  opacity: .75;
}

.formulario {
  padding: 10px;
  background-color: #0B0D26;
  text-align: center;
  width: 50%;
  margin: auto;
  opacity: .75;
}

.boton {
  margin: 10px 0px 10px 0px;
}

button {
  background-color: #434459;
  color: #f2f2f2;
  height: 30px;
  width: 50vw;
  cursor: pointer;
  margin:auto;
}

button::after {
  background-color: #f2f2f2;
  color: #0B0D26;
}

button:active {
  background-color: #f2f2f2;
  color: #0B0D26;
}

select {
  height: 25px;
  width: 50vw;
  background-color: #434459;
  color: #f2f2f2;
  margin: 7px 0px 0px 0px;
  cursor: pointer;
}


/*ACÁ ESCRIBO CÓDIGO PARA HEADER Y TOPNAV*/

.topnav {
  background-color: #0B0D26;
  overflow: hidden;
}

.topnav a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* BORRAR LO DE ABAJO SI NO FUNCIONA EN CHROME, NO MANEJO BIEN MEDIA QUERY */

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


