* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: Roboto Mono, monospace;
}

body {
  background-color: #000;
  color: #fff;
}

nav {
  background-color: #1c4c96;
  text-align: center;
  color: #fff;
  font-size: 25px;
}

.titulopresentacion{
  text-align: center;
  background-color: silver;
}

.formulario {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.lista-desplegable {
  padding: 10px;
}

select {
  margin-top: 10px;
  height: 25px;
  width: 60vw;
  font-size: 20px;
  background-color: #000;
  color: #f2f2f2;
  border: none;
}

button {
  height: 10vh;
  width: 60vw;
  padding: 7px;
  margin: 10px;
  color: #f2f2f2;
  background-color: #1c4c96;
  font-size: 20px;
}



